nav{
  display: flex;
  justify-content: space-around;
  background-color: rgb(73, 73, 73);
  color: white;
  height: 10vh;
  font-size: 3vh;
}
nav div{
  display: flex;

}
body{
  text-align: center;
  font-size: 4vh;

}
.About{
  margin: 2vh
}
Link{
  color: white;
}